$naranja: #ED7F00; 
$azul: #0B4379;
$gris-oscuro: #404040;
$azul-oscuro: #18212A;
$gris-claro: #C2C2C2;
$gris-fondo: #F5F5F5;

/*==== about us styles =====*/
#about-us {
	background-color: $gris-fondo;
	padding: 30px 10px;
	.container {
		h2 {
			text-align: center;
			font-family: "Bebas-Neue";
			font-size: 2.4em;
			color: $gris-oscuro;
			span {
				color: $naranja;
			}
		}
		.titulo-secciones {
			border-top: 2px solid $gris-claro;
			width: 60px;
			margin-top: -7px;
		}

		p {			
			text-align: center;
			font-size: 1.53em;
			font-family: "Agency-fb";
		}
		.col-md-6 {
			padding: 0 6%;
			margin-top: 30px;
			text-align: center;
			hr {
				border-top: 1px solid $gris-claro;
				width: 60px;
				margin: 0 10px 6px 10px;
				display: inline-block;
				@media (max-width: 400px) {
					width: 40px;
				}
			}
			h3 {
				display: inline;
				font-family: "Agency-fb";
				font-size: 2.1em;
				color: $gris-oscuro;
				margin-bottom: 1px;
				span {
					color: $azul;
				}
			}
			h3.EN {
				display: none;
			}
			h3.ESmision {
				display: inline !important;
			}
			p {
				margin-top: 15px;
			}
		}
	}
}

