@charset "UTF-8";
/*========== Developed by Jorge Monroy and Selvio Pérez ============*/
@font-face {
  font-family: "Bebas-Neue";
  src: url("../fonts/BebasNeue.otf"); }
@font-face {
  font-family: "Agency-fb";
  src: url("../fonts/agency-fb.ttf"); }
/*==== home styles =====*/
body header {
  height: 60px; }
  body header .navbar {
    background-color: rgba(0, 0, 0, 0.35); }
    body header .navbar .container .navbar-header button span {
      background-color: #fff; }
    body header .navbar .container .navbar-header a.navbar-brand {
      padding: 5px 15px; }
      body header .navbar .container .navbar-header a.navbar-brand img {
        height: 40px; }
    body header .navbar .container .collapse ul.nav li a {
      color: #fff;
      font-family: "Agency-fb";
      font-size: 1.5714em;
      padding: 15px 0 5px 0;
      margin: 0 15px; }
      body header .navbar .container .collapse ul.nav li a:hover {
        background-color: transparent !important;
        border-bottom: 1px solid #ED7F00; }
    body header .navbar .container .collapse ul.nav li:last-child {
      margin-left: 40px; }

#home {
  margin-top: -60px;
  height: 100vh;
  background: url("../img/airplane_bckg.jpg") no-repeat;
  background-size: 100%; }
  #home article {
    padding-top: 300px; }
    #home article .container {
      text-align: center; }
      #home article .container h1 {
        font-size: 7.1428em;
        color: #ED7F00;
        font-family: "Bebas-Neue";
        margin-bottom: -20px; }
        #home article .container h1 span {
          color: #fff; }
          #home article .container h1 span:first-child {
            font-size: 0.85em; }
          #home article .container h1 span:last-child {
            font-size: 1em; }
      #home article .container hr {
        width: 70px;
        display: inline-block;
        border-top: 2px solid #fff; }
      #home article .container p {
        display: inline;
        color: #fff;
        font-family: "Agency-fb";
        font-size: 3.5714em;
        text-align: center;
        margin: 0 30px; }
      #home article .container a.btn {
        display: block;
        color: #fff;
        border: 1px solid #fff;
        width: 150px;
        border-radius: 0;
        margin: 15px auto 0 auto;
        font-family: "Bebas-Neue";
        font-size: 1.7857em; }
        #home article .container a.btn:hover {
          background-color: #fff;
          color: #5e5e5e; }

.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-default:before {
  background-color: #ED7F00 !important;
  border-color: #ED7F00 !important;
  border: 1px; }

.bootstrap-switch-primary ~ .bootstrap-switch-handle-off:before {
  background-color: #ED7F00 !important;
  border-color: #ED7F00 !important;
  border: 1px; }

.bootstrap-switch-on .bootstrap-switch-primary ~ .bootstrap-switch-handle-off {
  box-shadow: inset 16px 0 0 #ED7F00 !important; }

.bootstrap-switch-on .bootstrap-switch-info ~ .bootstrap-switch-handle-off {
  box-shadow: inset 16px 0 0 #ED7F00 !important; }

.bootstrap-switch-primary {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4); }

.bootstrap-switch-default {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4); }

/*# sourceMappingURL=estilos.css.map */
